node_modules/

# Optional npm cache directory
.npm

# backend environment variables
.env

# Optional eslint cache
.eslintcache

# DS_store
.DS_Store

backend/py_scripts/env/

.vscode/

# ignore model files in dist 
/extension/dist/json/*
