/* Webcam CSS */
#overlayVideoCam {
    z-index: 2000;
    position: fixed;
    top: 5px;
    right: 5px;
    /* width: 75vw; */
    /* height: 75vh; */
    width: 740px;
    height: 580px;
    /* -webkit-transform: scaleX(-1); */
    /* transform: scaleX(-1); */
}

#overlayVideoCanvas {
    z-index: 3000;
    position: fixed;
    top: 5px;
    right: 5px;
    /* width: 75vw; */
    /* height: 75vh; */
    width: 740px;
    height: 580px;
    /* -webkit-transform: scaleX(-1);/ */
    /* transform: scaleX(-1); */
}
